<a href="https://colab.research.google.com/github/RKulagowska/Machine_learning_bootcamp/blob/main/03_feature_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Bibbliotek

In [2]:
import numpy as np
import pandas as pd
import sklearn
sklearn.__version__

'1.0.2'

# Załadowanie danych

In [8]:
def fetch_financial_data(company='AMZN'):
  """
  This funcion fetches stock market quotations.
  """
  import pandas_datareader.data as web
  return web.DataReader(name = company,data_source = 'stooq')

df_raw = fetch_financial_data()
df_raw.head()

              Open    High     Low   Close    Volume
Date
2022-08-08  142.05  144.23  138.29  139.41  52303475
2022-08-05  140.10  142.86  139.60  140.80  50686865
2022-08-04  140.58  143.56  139.55  142.57  70585020
2022-08-03  136.21  140.49  136.05  139.52  71827780
2022-08-02  134.72  137.44  134.09  134.16  61922429

# Utworzenie kopii danych

In [9]:
df = df_raw.copy()
df = df[:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2022-08-08 to 2022-08-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes

# Generowanie nowych zmiennych

In [11]:
df.index

DatetimeIndex(['2022-08-08', '2022-08-05', '2022-08-04', '2022-08-03',
               '2022-08-02'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [12]:
df.index.day

Int64Index([8, 5, 4, 3, 2], dtype='int64', name='Date')

In [13]:
df.index.month

Int64Index([8, 8, 8, 8, 8], dtype='int64', name='Date')

In [10]:
df['day'] = df.index.day
df['month']= df.index.month
df['year']= df.index.year
df

              Open    High     Low   Close    Volume  day  month  year
Date
2022-08-08  142.05  144.23  138.29  139.41  52303475    8      8  2022
2022-08-05  140.10  142.86  139.60  140.80  50686865    5      8  2022
2022-08-04  140.58  143.56  139.55  142.57  70585020    4      8  2022
2022-08-03  136.21  140.49  136.05  139.52  71827780    3      8  2022
2022-08-02  134.72  137.44  134.09  134.16  61922429    2      8  2022

# Dyskretyzacja zmiennej ciągłej

In [14]:
df = pd.DataFrame(data={'height':[175.,178.5, 185.,191.,184.5,183,168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

In [15]:
df['height_cat']= pd.cut(x=df.height,bins=3)
df

   height          height_cat
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

In [16]:
df['height_cat']= pd.cut(x=df.height,bins=(160.175,180,195))
df

   height        height_cat
0   175.0  (160.175, 180.0]
1   178.5  (160.175, 180.0]
2   185.0    (180.0, 195.0]
3   191.0    (180.0, 195.0]
4   184.5    (180.0, 195.0]
5   183.0    (180.0, 195.0]
6   168.0  (160.175, 180.0]

In [22]:
df['height_cat'] = pd.cut(x=df.height, bins=(160, 175, 180, 195), labels=['small', 'medium', 'high'])
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0       high
3   191.0       high
4   184.5       high
5   183.0       high
6   168.0      small

In [24]:
pd.get_dummies(df,drop_first=True, prefix= 'height')

   height  height_medium  height_high
0   175.0              0            0
1   178.5              1            0
2   185.0              0            1
3   191.0              0            1
4   184.5              0            1
5   183.0              0            1
6   168.0              0            0

# Ekstrakcja cech

In [25]:
df= pd.DataFrame(data= {'lang':[['PL','ENG'],['GER','ENG','PL','FRA'],['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [26]:
df['lang_nember'] = df['lang'].apply(len)
df

                  lang  lang_nember
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

In [28]:
df['PL_flag'] = df['lang'].apply(lambda x:1 if 'PL' in x else 0 ) 
df

                  lang  lang_nember  PL_flag
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0

In [35]:
df = pd.DataFrame(data={'webside':['wp.pl','onet.pl','google.com']})
df

      webside
0       wp.pl
1     onet.pl
2  google.com

In [36]:
df.webside.str.split('.',expand=True)

        0    1
0      wp   pl
1    onet   pl
2  google  com

In [39]:
new = df.webside.str.split('.',expand=True)
df['portal'] = new[0]
df['extension'] = new[1]
df

      webside  portal extension
0       wp.pl      wp        pl
1     onet.pl    onet        pl
2  google.com  google       com